<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NoKey</title>
  </head>

  <body style="background: rgb(255,241,222);">
      <%= render @view_module, @view_template, assigns %>
  </body>
</html>
